<nav class="row navbar navbar-expand-md bg-dark">
    <ul class="col navbar-nav justify-content-end">
        <li class="nav-item px-2 mr-auto"><a class="nav-link text-white navbar-brand" href="#">{{Title}}</a></li>
        <li class="nav-item px-4"><a class="nav-link text-white" href="#">Option1</a></li>
        <li class="nav-item px-4"><a class="nav-link text-white" href="#">Option2</a></li>
        <li class="nav-item px-4"><a class="nav-link text-white" href="#">Option3</a></li>
        <li class="nav-item px-4"><a class="nav-link text-white" href="#">Option4</a></li>
        <li><button type="button" data-toggle="collapse" data-target="#reactform" class="btn btn-success">Sign Up</button></li>
    </ul>
</nav>
<div class="row justify-content-end" id="bgsign">
    <div class="col-3 bg-dark">
        <app-reactform></app-reactform>
    </div>
</div>