<footer class="row bg-dark text-white p-5">
    <div class="col-8">
        <h2>ADDITIONAL INFORMATION</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque interdum quam odio, quis placerat ante luctus eu.
            Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque interdum quam odio, quis placerat ante luctus eu.
            Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis</p>
    </div>
    <div class="col-4">
        <h2>CONTACT</h2>
        <p>Thessaloniki, Greece, miltosouzounis91@gmail.com, + 01 234 567 88 + 01 234 567 89</p>
    </div>
    <div class="col text-center">
        <p>2021 Copyright: upHome.com</p>
    </div>
</footer>