<header class="row justify-content-center pt-4">
    <div class="col-12">
        <h1 class="my-5">Searcing for Home</h1>
        <button class="btn btn-dark btn-lg mb-3 px-5" data-toggle="collapse" data-target="#signupform">Start</button>
        <div class="row justify-content-center">
            <div class="col-6 bg-dark mb-3">
                <app-signup></app-signup>
            </div>
        </div>
        
    </div>
    <div class="col-3 bg-dark pt-4 headcol">
        <h2 class="">Kati Ligo</h2>
        <p>Kakshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas 
            Kakshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas 
        </p>
    </div>
    <div class="col-3 bg-dark pt-4 headcol">
        <h2>Kati Akoma</h2>
        <p>akshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas 
            Kakshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas </p>
    </div>
    <div class="col-3 bg-dark pt-4 headcol">
        <h2>Kati Kalutero</h2>
        <p>akshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas 
            Kakshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas Kakshbdkas lkashdnas </p>
    </div>
</header>
